@import "_fonts";

// Шрифты

// Надо добавить названия шрифтов ещё, которые будут появляться если эти не програузятся, кроме sans-serif.
$main-font-family: "Montserrat", sans-serif;
$lato-font-family: "Lato", sans-serif;
$sourcesanspro-font-family: "Source Sans Pro", sans-serif;
$logo-big-text-font-family: "Gadugi-Bold", sans-serif;
$logo-small-text-font-family: "Candara", sans-serif;

// Размеры шрифтов (Desktop версия, 1440px - возможно тут поменяется, чтобы было адаптивно, но пока так)

$big-title-h1: 64px;
$secondary-big-title-h1: 58px;
$middle-title-h2: 48px;
$middle-text-h3: 36px;
$small-title-h3: 24px;
$regular-text-h4: 18px;
$small-text: 16px;
$little-text: 14px;
$mini-text: 12px;
$extra-mini-text: 11px;

// Жирность шрифта
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Цвета

// Цвета фона

/* Это основной бежевый цвет */
$main-background-color: #fff0e4;

/* (Этот белый цвет используется на первом экране сзади больших цветов, а так же в полях форм и на главной странице внизу.)*/
$white-background-color: #fff8f5;
$form-input-fields-back-color: #fff8f5;
$input-focus-border: #fae57e;
$card-bg-color: #fdfdfd;
$blackened-bg-toning: #c4c4c430;

// Цвета кнопок, слайдеров, надписей в розовом цвете
$btn-general-color: #d7537a;
$btn-hover-color: #fd4f79;
$btn-active-click-color: #fb7e98;
$slider-dash-off-color: #dd9eab;
$slider-dash-on-color: #d7537a;

// Цвета текста
$logo-upper-text-color: #073c2a;
$logo-lower-text-color: #0a3f23;
$black-text-color: #272626;
$white-text-color: #ffffff;
$crossed-out-price-text-color: #8e8d6f;
$menu-items-off-text-color: #8e8d6f;
$price-and-sale-text-color: #7ea048;
$input-placeholder-text-color: #00000054;

// Цвета для карточки товара и бейджиков
$card-background-color: #ffffff;
$hit-badge-color: #fd4f79;
$new-badge-color: #4ae950;
$today-bouquet-color: #fd984f;
$sale-badge-color: #f1eb4c;

// Цвета иконок, значков в хедере и футере
$nav-icons-regular-color: #eb8671;
$contacts-icons-regular-color: #eb8671;

$nav-icons-hover-color: #dd7059;
$contacts-icons-hover-color: #dd7059;

$nav-icons-active-click-color: #ffab9a;
$contacts-icons-active-click-color: #ffab9a;

// Размеры шрифтов (Desktop версия, 1440px - возможно тут поменяется, чтобы было адаптивно, но пока так)

$big-title-h1: 64px;
$middle-title-h2: 48px;
$small-title-h3: 24px;
$mini-title-h4: 18px;
$regular-text: 18px;
$extra-mini-text: 11px;
$new-medium-text: 16px;
$new-smallest-text: 13px;

// Радиокнопки
// Составить повторяющиеся сочетания шрифт размер стиль жирность - миксины?

// <<<<<<< HEAD
// =======
// // Ширина
// >>>>>>> e9de285a6e4b39b725f50ef15173d484a682d9f8
