@import "/fonts";
@import "/vars";
@import "/src/common/common";
@import "/mixins";
@import "/templates";

.catalog-preview {
	position: relative;
	margin-bottom: 0;

	&__container {
		@extend %flex-column !optional;

		&-title {
			margin-bottom: 3%;
		}
	}

	&__inner-wrapper {
		@extend %flex-justify-between !optional;

		.inner-box {
			@extend %flex-column !optional;
			justify-content: space-between;
		}

		.side-box {
			width: 23.5%;
		}

		.central-box {
			width: 50%;

			.text-box {
				width: 30%;
				height: 100%;
			}
		}

		.block {
			position: relative;
			display: flex;
		}

		.block:hover .image {
			opacity: 0.65;
			transform: scale(1.05);
			cursor: pointer;
		}

		.block-1,
		.block-6 {
			margin-bottom: 7%;
		}

		.block-4 {
			margin-block: 3%;
		}

		.text-box {
			&__type-two {
				right: 0px;
				border-radius: 10px 0px 0px 10px;
				padding: 9px;
			}

			&__type-three {
				left: 0px;
				border-radius: 0px 10px 10px 0px;
				padding: 9px;
			}
		}
	}

	&__link-wrapper {
		@extend %flex-justify-center !optional;
		padding: 20px 0px;
		margin-bottom: 5%;

		.link {
			color: $menu-items-off-text-color;
			text-decoration: none;
			&:hover {
				text-shadow: 0 0 15px #8e8d6f;
			}
		}
	}

	.petals-wrapper {
		position: absolute;
		@include zero-position;
		z-index: -100;
		overflow: hidden;
	}

	.petals-wrapper-3 {
		.petal-wrapper-7,
		.petal-wrapper-8,
		.petal-wrapper-9 {
			position: absolute;
		}

		.petal-wrapper-7 {
			top: 5%;
			right: 30%;
		}

		.petal-wrapper-8 {
			top: 36%;
			left: -3%;
		}

		.petal-wrapper-9 {
			top: 90%;
			left: 30%;
		}
	}
}
