@import "/fonts";
@import "/vars";
@import "/src/common/common";
@import "/mixins";
@import "/templates";

.idea {
	&__container,
	&__container-wrapper {
		@extend %flex-column !optional;
	}

	&__button-wrapper {
		@extend %flex-justify-center !optional;
	}

	&__title {
		align-self: center;
		margin-bottom: 5%;
	}

	&__inner-wrapper {
		@extend %flex-justify-between !optional;
		margin-bottom: 5%;
	}

	&__image-box {
		display: flex;

		img {
			@include object-fit;
			border-radius: 20px;
		}
	}

	&__form {
		justify-content: space-between;
	}

	&__errors-block {
		padding-bottom: 5%;
	}

	&__error-text {
		color: $btn-general-color;
		margin-bottom: 10px;
	}
}
