@import "/fonts";
@import "/vars";
@import "/src/common/common";
@import "/mixins";
@import "/templates";

.idea {
	position: relative;
	margin-bottom: 0;

	&__container,
	&__container-wrapper {
		@extend %flex-column !optional;
	}

	&__button-wrapper {
		@extend %flex-justify-center !optional;
	}

	&__title {
		align-self: center;
		margin-bottom: 5%;
	}

	&__inner-wrapper {
		@extend %flex-justify-between !optional;
		margin-bottom: 5%;
	}

	&__image-box {
		display: flex;

		img {
			@include object-fit;
			border-radius: 20px;
		}
	}

	&__form {
		justify-content: space-between;
	}

	&__errors-block {
		padding-bottom: 5%;
	}

	&__error-text {
		color: $btn-general-color;
		margin-bottom: 10px;
	}

	&__button-wrapper {
		margin-bottom: 5%;
	}

	.petals-wrapper {
		position: absolute;
		@include zero-position;
		z-index: -100;
		overflow: hidden;
	}

	.petals-wrapper-4 {
		.petal-wrapper-10,
		.petal-wrapper-11 {
			position: absolute;
		}

		.petal-wrapper-10 {
			top: 17%;
			left: 30%;
		}

		.petal-wrapper-11 {
			bottom: -7%;
			left: 10%;
		}
	}
}
