@import "/fonts";
@import "/vars";
@import "/src/common/common";
@import "/mixins";
@import "/templates";

.sales {
	position: relative;

	&__container {
		@extend %flex-column !optional;
		z-index: 2;
	}

	&__title {
		margin-bottom: 3%;
	}

	// Стили для слайдера Скидки

	&__slider-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		overflow-x: hidden;
	}

	&__slider-track {
		display: flex;
		flex-wrap: nowrap;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		width: 100%;
	}

	&__slider-box {
		display: flex;
		justify-content: space-between;
		min-width: 100%;
		opacity: 0;
		transition: opacity 0.5s ease-in-out 0.5s;
		padding: 10px 5px;
	}

	.current-slide {
		opacity: 1;
	}

	.slide-in {
		transform: translateX(0); /* Начальное положение для анимации */
	}

	&__slide {
		flex: 0 0 auto;
		scroll-snap-align: start;
	}

	&__slider-dots {
		display: flex;
		justify-content: center;
		margin: 3% 0 1% 0;

		.slider-dot {
			width: 42px;
			height: 10px;
			border-radius: 5px;
			background-color: $slider-dash-off-color;
			margin: 0 10px;
			cursor: pointer;
			transition: 0.5s;
		}

		.slider-dot.active {
			background-color: $slider-dash-on-color;
		}
	}

	// Стили для карточки товара в разделе Скидки
	&__image-wrapper {
		margin-bottom: 4%;
	}

	&__title-wrapper {
		margin-bottom: 5%;
	}

	// Это можно перенести в common - это общие стили для одной карточки товара
	.card-box-small {
		@extend %flex-column !optional;
		width: 280px;
		max-height: 420px;
		padding: 10px 10px 36px 10px;
		border-radius: 0 20px 20px 20px;
		background-color: $card-bg-color;
		cursor: pointer;

		&:hover {
			box-shadow: 1px 1px 5px rgb(200, 199, 199);
			transform: scale(1.009);
		}

		&__image-wrapper {
			display: flex;
			position: relative;
			max-height: 245px;
		}

		&__image {
			@include object-fit;
			border-radius: 0 10px 0 0;
		}

		.hit-badge,
		.new-badge,
		.today-bouquet,
		.sale-badge_small {
			position: absolute;
		}

		.hit-badge {
			top: 5px;
			left: -5px;
		}

		.new-badge {
			top: 33px;
			left: -5px;
		}

		.today-bouquet {
			top: 61px;
			left: -5px;
		}

		.sale-badge_small {
			bottom: 5px;
			right: -5px;
		}

		&__title-wrapper {
			height: 70px;
			@extend %flex-justify-center !optional;
		}

		&__title {
			width: 94%;
		}

		&__lower-wrapper {
			@extend %flex-justify-around !optional;
		}

		&__prices-wrapper {
			@extend %flex-column-center !optional;
		}
	}

	// Это можно перенести в common возможно - общие стили для первых блоков с лепестками
	.petals-wrapper {
		position: absolute;
		@include zero-position;
		z-index: -100;
		overflow: hidden;
	}

	.petals-wrapper-1 {
		.petal-wrapper-1 {
			position: absolute;
			top: 5%;
			left: -3%;
		}
		.petal-wrapper-2 {
			position: absolute;
			top: 70%;
			right: -3%;
		}
	}
}
