@import "/fonts";
@import "/vars";
@import "./common";
@import "/templates";
@import "/mixins";

.header__content {
	@include flexStyle;
	align-items: center;
	justify-content: space-between;
	position: relative;
	background: $main-background-color;
	max-width: 100%;
	z-index: 1000;
}
.header__burger-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#burgerImg {
	width: 25px;
	height: 25px;
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
	margin-left: 8.4rem;
	cursor: pointer;
}
.header__logo__container {
	@include flexStyle;
	justify-content: center;
	align-items: center;
	margin-left: 28rem;
	margin-top: 0.86rem;
}
.header__logo__title {
	font-family: $logo-big-text-font-family;
	color: $logo-upper-text-color;
	font-size: $small-title-h3;
	font-style: normal;
}
.header__img {
	max-width: 2.37em;
	max-height: 2.6em;
	transform: rotate(23.7deg);
}
.header__subtitle {
	color: $logo-lower-text-color;
	font-size: $extra-mini-text;
}
.header__icon__images {
	@include flexStyle;
}

.header__burger-container {
	display: flex;
	align-items: center;
}
#burgerImg {
	width: 25px;
	height: 25px;
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
	margin-left: 8.4rem;
	cursor: pointer;
}
.header__logo__container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 28rem;
	margin-top: 0.86rem;
}
.header__logo__title {
	font-family: $logo-big-text-font-family;
	color: $logo-upper-text-color;
	font-size: $small-title-h3;
	font-style: normal;
}
.header__img {
	max-width: 2.37em;
	max-height: 2.6em;
	transform: rotate(23.7deg);
}
.header__subtitle {
	color: $logo-lower-text-color;
	font-size: $extra-mini-text;
}
.header__icon__images {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 15px;
}
.header__title-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 8.43rem;
}
.header__title {
	color: $black-text-color;
	font-family: $sourcesanspro-font-family;
	font-size: $small-title-h3;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 0.43rem;
}
.header__main__title {
	color: $black-text-color;
	font-family: $main-font-family;
	font-size: $big-title-h1;
	font-style: normal;
	margin-bottom: 1.75rem;
}

.header__content {
	@include flexStyle;
	align-items: center;
	justify-content: space-between;
	position: relative;
	background: $main-background-color;
	max-width: 100%;
	z-index: 1000;
}
.header__burger-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
#burgerImg {
	width: 25px;
	height: 25px;
	margin-top: 1.4rem;
	margin-bottom: 1.4rem;
	margin-left: 8.4rem;
	cursor: pointer;
}
.header__logo__container {
	@include flexStyle;
	justify-content: center;
	align-items: center;
	margin-left: 28rem;
	margin-top: 0.86rem;
}
.header__logo__title {
	font-family: $logo-big-text-font-family;
	color: $logo-upper-text-color;
	font-size: $small-title-h3;
	font-style: normal;
}
.header__img {
	max-width: 2.37em;
	max-height: 2.6em;
	transform: rotate(23.7deg);
}
.header__subtitle {
	color: $logo-lower-text-color;
	font-size: $extra-mini-text;
}
.header__icon__images {
	@include flexStyle;
}